.pageContent {
  background-color: #fff;
  border-radius: 5px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 0 4px 0 rgba(200, 200, 200, 0.4);
}

.title {
  :global {
    .ant-breadcrumb-link {
      line-height: 66px;
    }
  }
}

.contentWrap {
  flex: 1;
  // overflow-y: auto;
  border-radius: 5px;
  background: #f2f2f6;
  border-radius: 5px;
}
.scroller {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}
