.table {
    table {
        border-collapse: collapse;
    }
    :global {
        .ant-pagination-options-quick-jumper {
            button {
                background-color: #fff;
                width: 50px;
                height: 32px;
                border-radius: 4px;
                line-height: 20px;
                margin-left: 8px;
            }
        }
        .ant-table-thead {
            border-bottom: 1px solid #e8e8e8;
        }
        .ant-table-pagination {
            display: flex;
            width: 100%;
        }
        .ant-pagination-total-text {
            padding-left: 10px;
            flex: 1;
        }
        .ant-table-selection-column {
            min-width: 30px !important;
            width: 30px !important;
        }
        .ant-table {
            border: 1px solid #e8e8e8;
        }
        .ant-table-content {
            border: none !important;
        }
    }
}
